<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.salur">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoappfix"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Relawan"></activity>
        <activity android:name=".Don4" />
        <activity android:name=".Don3" />
        <activity android:name=".Don2" />
        <activity android:name=".Don1" />
        <activity android:name=".C_bdg" />
        <activity android:name=".C_SBY" />
        <activity android:name=".C_jkt" />
        <activity android:name=".ProfilPantiPondokKasih" />
        <activity android:name=".ProfilPantiAlIkhsan" />
        <activity android:name=".ProfilPantiAlFatah" />
        <activity android:name=".ProfilPantiAsuhanAmanah" />
        <activity android:name=".ProfilPantiSantaYulia" />
        <activity android:name=".ProfilPantiPenerusKasih" />
        <activity android:name=".ProfilPantiPelayanKasih" />
        <activity android:name=".ProfilPantiKaryaKasih" />
        <activity android:name=".ProfilPanti10Nopember" />
        <activity android:name=".ProfilPantiIbnuhajar" />
        <activity android:name=".ProfilPantiAlmizan" />
        <activity android:name=".ProfilPantiDiponegoro" />
        <activity android:name=".Notif_1" />
        <activity android:name=".Profil_P" />
        <activity android:name=".Donate_K" />
        <activity android:name=".Donate" />
        <activity android:name=".Prof_C_P" />
        <activity android:name=".C_mlg" />
        <activity android:name=".Profil" />
        <activity android:name=".Notif" />
        <activity android:name=".Tambah" />
        <activity android:name=".Cari" />
        <activity android:name=".Beranda" />
        <activity android:name=".Reg_P2" />
        <activity android:name=".Reg_P1" />
        <activity android:name=".Reg_P" />
        <activity android:name=".Home" />
        <activity android:name=".Reg_D" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>